@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<a class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Loop" asp-route-name="Jacob" asp-route-numTimes="8">Loop method</a>
<a class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Loop" asp-route-name="Jacob" asp-route-numTimes="3">Loop 3 method</a>
<a class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Loop" asp-route-name="Jacob">Loop 1 method</a>